<h1>SUNDAE FLAVORS</h1>

{{#each sundaes as |sundae| }}
  <h2><a href="/{{sundae.flavor}}">{{sundae.flavor}}</a></h2>
{{/each}}

<h3>Add a New Flavor</h3>
<form action="/" method="post">
  <input type="text" name="sundae[flavor]" placeholder="Flavor">
  <input type="text" name="sundae[ingredients]" placeholder="Ingredients">
  <input type="text" name="sundae[photo]" placeholder="Photo">
  <input type="submit">
</form>
